---
## 1. Import Libraries

We start with the basics: pandas for data handling, numpy for numerical operations.

In [14]:
# ============================================
# IMPORT LIBRARIES
# ============================================
# pandas: For reading and manipulating tabular data
# numpy: For numerical operations
# We keep it simple here - more libraries will be added in later notebooks as needed

import pandas as pd
import numpy as np

# Display settings: Show all columns when printing DataFrames
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

print("âœ… Libraries imported successfully")

âœ… Libraries imported successfully

---
## 2. Load the Raw Data

Our data comes from the NCAA EADA database. This contains financial information for athletic programs at U.S. colleges and universities.

**Data Source:** `data/raw/Output_10yrs_reported_schools_17220.csv`  
**Expected:** 10 years of data (2014-2023) for approximately 1,722 institutions

In [2]:
# ============================================
# LOAD RAW DATA
# ============================================
# We use a relative path from the notebooks/ folder to the data/raw/ folder
# The file contains 10 years of NCAA financial data

raw_data_path = '../data/raw/Output_10yrs_reported_schools_17220.csv'

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(raw_data_path)

print(f"âœ… Data loaded successfully")
print(f"ðŸ“Š Shape: {df.shape[0]:,} rows Ã— {df.shape[1]} columns")

âœ… Data loaded successfully
ðŸ“Š Shape: 17,220 rows Ã— 580 columns

---
## 3. Understand the Structure

Let's look at:
- What columns are available
- Data types of each column
- First few rows to see sample data

In [3]:
# ============================================
# COLUMN OVERVIEW
# ============================================
# List all columns with their data types
# This helps us understand what information is available

print("ðŸ“‹ COLUMN NAMES AND DATA TYPES:")
print("=" * 60)

for i, (col, dtype) in enumerate(df.dtypes.items(), 1):
    print(f"{i:2}. {col:<45} ({dtype})")

ðŸ“‹ COLUMN NAMES AND DATA TYPES:
============================================================
 1. Survey Year                                   (int64)
 2. UNITID                                        (int64)
 3. OPE ID                                        (int64)
 4. Institution Name                              (object)
 5. State CD                                      (object)
 6. Classification Name                           (object)
 7. Classification Other                          (object)
 8. Sanction Code                                 (int64)
 9. Sanction Name                                 (object)
10. Male Undergraduates                           (int64)
11. Female Undergraduates                         (int64)
12. Total Undergraduates                          (int64)
13. Archery Men's Team Participation              (int64)
14. Archery Women's Team Participation            (int64)
15. Archery Coed Team Men Participation           (int64)
16. Archery Coed Team Women Participation         (int64)
17. Archery Total Participation                   (int64)
18. Badminton Women's Team Participation          (int64)
19. Badminton Total Participation                 (int64)
20. Baseball Men's Team Participation             (int64)
21. Baseball Total Participation                  (int64)
22. Basketball Men's Team Participation           (int64)
23. Basketball Women's Team Participation         (int64)
24. Basketball Coed Team Men Participation        (int64)
25. Basketball Coed Team Women Participation      (int64)
26. Basketball Total Participation                (int64)
27. Beach Volleyball Men's Team Participation     (int64)
28. Beach Volleyball Women's Team Participation   (int64)
29. Beach Volleyball Total Participation          (int64)
30. Bowling Men's Team Participation              (int64)
31. Bowling Women's Team Participation            (int64)
32. Bowling Coed Team Men Participation           (int64)
33. Bowling Coed Team Women Participation         (int64)
34. Bowling Total Participation                   (int64)
35. All Track Combined Men's Team Participation   (int64)
36. All Track Combined Women's Team Participation (int64)
37. All Track Combined Coed Team Men Participation (int64)
38. All Track Combined Coed Team Women Participation (int64)
39. All Track Combined Total Participation        (int64)
40. Diving Men's Team Participation               (int64)
41. Diving Women's Team Participation             (int64)
42. Diving Total Participation                    (int64)
43. Equestrian Men's Team Participation           (int64)
44. Equestrian Women's Team Participation         (int64)
45. Equestrian Coed Team Men Participation        (int64)
46. Equestrian Coed Team Women Participation      (int64)
47. Equestrian Total Participation                (int64)
48. Fencing Men's Team Participation              (int64)
49. Fencing Women's Team Participation            (int64)
50. Fencing Coed Team Men Participation           (int64)
51. Fencing Coed Team Women Participation         (int64)
52. Fencing Total Participation                   (int64)
53. Field Hockey Women's Team Participation       (int64)
54. Field Hockey Total Participation              (int64)
55. Football Men's Team Participation             (int64)
56. Football Total Participation                  (int64)
57. Golf Men's Team Participation                 (int64)
58. Golf Women's Team Participation               (int64)
59. Golf Coed Team Men Participation              (int64)
60. Golf Coed Team Women Participation            (int64)
61. Golf Total Participation                      (int64)
62. Gymnastics Men's Team Participation           (int64)
63. Gymnastics Women's Team Participation         (int64)
64. Gymnastics Coed Team Men Participation        (int64)
65. Gymnastics Coed Team Women Participation      (int64)
66. Gymnastics Total Participation                (int64)
67. Ice Hockey Men's Team Participation           (int64)
68. Ice Hockey Women's Team Participation         (int64)
69. Ice Hockey Total Participation                (int64)
70. Lacrosse Men's Team Participation             (int64)
71. Lacrosse Women's Team Participation           (int64)
72. Lacrosse Total Participation                  (int64)
73. Rifle Men's Team Participation                (int64)
74. Rifle Women's Team Participation              (int64)
75. Rifle Coed Team Men Participation             (int64)
76. Rifle Coed Team Women Participation           (int64)
77. Rifle Total Participation                     (int64)
78. Rodeo Men's Team Participation                (int64)
79. Rodeo Women's Team Participation              (int64)
80. Rodeo Coed Team Men Participation             (int64)
81. Rodeo Coed Team Women Participation           (int64)
82. Rodeo Total Participation                     (int64)
83. Rowing Men's Team Participation               (int64)
84. Rowing Women's Team Participation             (int64)
85. Rowing Total Participation                    (int64)
86. Sailing Men's Team Participation              (int64)
87. Sailing Women's Team Participation            (int64)
88. Sailing Coed Team Men Participation           (int64)
89. Sailing Coed Team Women Participation         (int64)
90. Sailing Total Participation                   (int64)
91. Skiing Men's Team Participation               (int64)
92. Skiing Women's Team Participation             (int64)
93. Skiing Total Participation                    (int64)
94. Soccer Men's Team Participation               (int64)
95. Soccer Women's Team Participation             (int64)
96. Soccer Coed Team Men Participation            (int64)
97. Soccer Coed Team Women Participation          (int64)
98. Soccer Total Participation                    (int64)
99. Softball Women's Team Participation           (int64)
100. Softball Total Participation                  (int64)
101. Squash Men's Team Participation               (int64)
102. Squash Women's Team Participation             (int64)
103. Squash Coed Team Men Participation            (int64)
104. Squash Coed Team Women Participation          (int64)
105. Squash Total Participation                    (int64)
106. Swimming and Diving Men's Team Participation  (int64)
107. Swimming and Diving Women's Team Participation (int64)
108. Swimming and Diving Total Participation       (int64)
109. Swimming Men's Team Participation             (int64)
110. Swimming Women's Team Participation           (int64)
111. Swimming Total Participation                  (int64)
112. Synchronized Swimming Women's Team Participation (int64)
113. Synchronized Swimming Total Participation     (int64)
114. Table Tennis Men's Team Participation         (int64)
115. Table Tennis Women's Team Participation       (int64)
116. Table Tennis Total Participation              (int64)
117. Tennis Men's Team Participation               (int64)
118. Tennis Women's Team Participation             (int64)
119. Tennis Coed Team Men Participation            (int64)
120. Tennis Coed Team Women Participation          (int64)
121. Tennis Total Participation                    (int64)
122. Track and Field Indoor Men's Team Participation (int64)
123. Track and Field Indoor Women's Team Participation (int64)
124. Track and Field Indoor Total Participation    (int64)
125. Track and Field Outdoor Men's Team Participation (int64)
126. Track and Field Outdoor Women's Team Participation (int64)
127. Track and Field Outdoor Total Participation   (int64)
128. Track and Field X Country Men's Team Participation (int64)
129. Track and Field X Country Women's Team Participation (int64)
130. Track and Field X Country Total Participation (int64)
131. Volleyball Men's Team Participation           (int64)
132. Volleyball Women's Team Participation         (int64)
133. Volleyball Coed Team Men Participation        (int64)
134. Volleyball Coed Team Women Participation      (int64)
135. Volleyball Total Participation                (int64)
136. Water Polo Men's Team Participation           (int64)
137. Water Polo Women's Team Participation         (int64)
138. Water Polo Total Participation                (int64)
139. Weight Lifting Men's Team Participation       (int64)
140. Weight Lifting Women's Team Participation     (int64)
141. Weight Lifting Coed Team Men Participation    (int64)
142. Weight Lifting Coed Team Women Participation  (int64)
143. Weight Lifting Total Participation            (int64)
144. Wrestling Men's Team Participation            (int64)
145. Wrestling Women's Team Participation          (int64)
146. Wrestling Coed Team Men Participation         (int64)
147. Wrestling Coed Team Women Participation       (int64)
148. Wrestling Total Participation                 (int64)
149. Other Sports Men's Team Participation         (int64)
150. Other Sports Women's Team Participation       (int64)
151. Other Sports Coed Team Men Participation      (int64)
152. Other Sports Coed Team Women Participation    (int64)
153. Other Sports Total Participation              (int64)
154. Total Men's Team Participation                (int64)
155. Total Women's Team Participation              (int64)
156. Total Coed Team Men Participation             (int64)
157. Total Coed Team Women Participation           (int64)
158. Grand Total Men's Participation               (int64)
159. Grand Total Women's Participation             (int64)
160. Unduplicated Count Men's Participation        (int64)
161. Unduplicated Count Women's Participation      (int64)
162. Men's Team Average Annual Institutional Salary per Head Coach (int64)
163. Men's Team Number of Head Coaches Included in Average (int64)
164. Men's Team Average Annual Institutional Salary per FTE (int64)
165. Men's Team Number of FTEs Included in Average (float64)
166. Women's Team Average Annual Institutional Salary per Head Coach (int64)
167. Women's Team Number of Head Coaches Included in Average (int64)
168. Women's Team Average Annual Institutional Salary per FTE (int64)
169. Women's Team Number of FTEs Included in Average (float64)
170. Coed Team Average Annual Institutional Salary per Head Coach (int64)
171. Coed Team Number of Head Coaches Included in Average (int64)
172. Coed Team Average Annual Institutional Salary per FTE (int64)
173. Coed Team Number of FTEs Included in Average  (float64)
174. Men's Team Average Annual Institutional Salary per Assistant Coach (int64)
175. Men's Team Number of Assistant Coaches Included in Average (int64)
176. Men's Team Average Annual Institutional Salary per FTE2 (int64)
177. Men's Team Number of FTEs Included in Average2 (float64)
178. Women's Team Average Annual Institutional Salary per Assistant Coach (int64)
179. Women's Team Number of Assistant Coaches Included in Average (int64)
180. Women's Team Average Annual Institutional Salary per FTE2 (int64)
181. Women's Team Number of FTEs Included in Average2 (float64)
182. Coed Team Average Annual Institutional Salary per Assistant Coach (int64)
183. Coed Team Number of Assistant Coaches Included in Average (int64)
184. Coed Team Average Annual Institutional Salary per FTE2 (int64)
185. Coed Team Number of FTEs Included in Average2 (float64)
186. Men's Team Athletic Student Aid               (int64)
187. Women's Team Athletic Student Aid             (int64)
188. Coed Team Athletic Student Aid                (int64)
189. Archery Men's Team Revenue                    (int64)
190. Archery Women's Team Revenue                  (int64)
191. Archery Coed Team Revenue                     (int64)
192. Archery Total Revenue                         (int64)
193. Badminton Women's Team Revenue                (int64)
194. Badminton Total Revenue                       (int64)
195. Baseball Men's Team Revenue                   (int64)
196. Baseball Total Revenue                        (int64)
197. Basketball Men's Team Revenue                 (int64)
198. Basketball Women's Team Revenue               (int64)
199. Basketball Coed Team Revenue                  (int64)
200. Basketball Total Revenue                      (int64)
201. Beach Volleyball Men's Team Revenue           (int64)
202. Beach Volleyball Women's Team Revenue         (int64)
203. Beach Volleyball Total Revenue                (int64)
204. Bowling Men's Team Revenue                    (int64)
205. Bowling Women's Team Revenue                  (int64)
206. Bowling Coed Team Revenue                     (int64)
207. Bowling Total Revenue                         (int64)
208. All Track Combined Men's Team Revenue         (int64)
209. All Track Combined Women's Team Revenue       (int64)
210. All Track Combined Coed Team Revenue          (int64)
211. All Track Combined Total Revenue              (int64)
212. Diving Men's Team Revenue                     (int64)
213. Diving Women's Team Revenue                   (int64)
214. Diving Total Revenue                          (int64)
215. Equestrian Men's Team Revenue                 (int64)
216. Equestrian Women's Team Revenue               (int64)
217. Equestrian Coed Team Revenue                  (int64)
218. Equestrian Total Revenue                      (int64)
219. Fencing Men's Team Revenue                    (int64)
220. Fencing Women's Team Revenue                  (int64)
221. Fencing Coed Team Revenue                     (int64)
222. Fencing Total Revenue                         (int64)
223. Field Hockey Women's Team Revenue             (int64)
224. Field Hockey Total Revenue                    (int64)
225. Football Men's Team Revenue                   (int64)
226. Football Total Revenue                        (int64)
227. Golf Men's Team Revenue                       (int64)
228. Golf Women's Team Revenue                     (int64)
229. Golf Coed Team Revenue                        (int64)
230. Golf Total Revenue                            (int64)
231. Gymnastics Men's Team Revenue                 (int64)
232. Gymnastics Women's Team Revenue               (int64)
233. Gymnastics Coed Team Revenue                  (int64)
234. Gymnastics Total Revenue                      (int64)
235. Ice Hockey Men's Team Revenue                 (int64)
236. Ice Hockey Women's Team Revenue               (int64)
237. Ice Hockey Total Revenue                      (int64)
238. Lacrosse Men's Team Revenue                   (int64)
239. Lacrosse Women's Team Revenue                 (int64)
240. Lacrosse Total Revenue                        (int64)
241. Rifle Men's Team Revenue                      (int64)
242. Rifle Women's Team Revenue                    (int64)
243. Rifle Coed Team Revenue                       (int64)
244. Rifle Total Revenue                           (int64)
245. Rodeo Men's Team Revenue                      (int64)
246. Rodeo Women's Team Revenue                    (int64)
247. Rodeo Coed Team Revenue                       (int64)
248. Rodeo Total Revenue                           (int64)
249. Rowing Men's Team Revenue                     (int64)
250. Rowing Women's Team Revenue                   (int64)
251. Rowing Total Revenue                          (int64)
252. Sailing Men's Team Revenue                    (int64)
253. Sailing Women's Team Revenue                  (int64)
254. Sailing Coed Team Revenue                     (int64)
255. Sailing Total Revenue                         (int64)
256. Skiing Men's Team Revenue                     (int64)
257. Skiing Women's Team Revenue                   (int64)
258. Skiing Total Revenue                          (int64)
259. Soccer Men's Team Revenue                     (int64)
260. Soccer Women's Team Revenue                   (int64)
261. Soccer Coed Team Revenue                      (int64)
262. Soccer Total Revenue                          (int64)
263. Softball Women's Team Revenue                 (int64)
264. Softball Total Revenue                        (int64)
265. Squash Men's Team Revenue                     (int64)
266. Squash Women's Team Revenue                   (int64)
267. Squash Coed Team Revenue                      (int64)
268. Squash Total Revenue                          (int64)
269. Swimming and Diving Men's Team Revenue        (int64)
270. Swimming and Diving Women's Team Revenue      (int64)
271. Swimming and Diving Total Revenue             (int64)
272. Swimming Men's Team Revenue                   (int64)
273. Swimming Women's Team Revenue                 (int64)
274. Swimming Total Revenue                        (int64)
275. Synchronized Swimming Women's Team Revenue    (int64)
276. Synchronized Swimming Total Revenue           (int64)
277. Table Tennis Men's Team Revenue               (int64)
278. Table Tennis Women's Team Revenue             (int64)
279. Table Tennis Total Revenue                    (int64)
280. Tennis Men's Team Revenue                     (int64)
281. Tennis Women's Team Revenue                   (int64)
282. Tennis Coed Team Revenue                      (int64)
283. Tennis Total Revenue                          (int64)
284. Track and Field Indoor Men's Team Revenue     (int64)
285. Track and Field Indoor Women's Team Revenue   (int64)
286. Track and Field Indoor Total Revenue          (int64)
287. Track and Field Outdoor Men's Team Revenue    (int64)
288. Track and Field Outdoor Women's Team Revenue  (int64)
289. Track and Field Outdoor Total Revenue         (int64)
290. Track and Field X Country Men's Team Revenue  (int64)
291. Track and Field X Country Women's Team Revenue (int64)
292. Track and Field X Country Total Revenue       (int64)
293. Volleyball Men's Team Revenue                 (int64)
294. Volleyball Women's Team Revenue               (int64)
295. Volleyball Coed Team Revenue                  (int64)
296. Volleyball Total Revenue                      (int64)
297. Water Polo Men's Team Revenue                 (int64)
298. Water Polo Women's Team Revenue               (int64)
299. Water Polo Total Revenue                      (int64)
300. Weight Lifting Men's Team Revenue             (int64)
301. Weight Lifting Women's Team Revenue           (int64)
302. Weight Lifting Coed Team Revenue              (int64)
303. Weight Lifting Total Revenue                  (int64)
304. Wrestling Men's Team Revenue                  (int64)
305. Wrestling Women's Team Revenue                (int64)
306. Wrestling Coed Team Revenue                   (int64)
307. Wrestling Total Revenue                       (int64)
308. Other Sports Men's Team Revenue               (int64)
309. Other Sports Women's Team Revenue             (int64)
310. Other Sports Coed Team Revenue                (int64)
311. Other Sports Total Revenue                    (int64)
312. Total Men's Team Revenue                      (int64)
313. Total Women's Team Revenue                    (int64)
314. Total Coed Team Revenue                       (int64)
315. Not Allocated by Sex/Sport Revenue            (int64)
316. Grand Total Revenue                           (int64)
317. Men's Team Recruiting Expenses                (int64)
318. Women's Team Recruiting Expenses              (int64)
319. Coed Team Recruiting Expenses                 (int64)
320. Archery Men's Team Operating Expenses         (int64)
321. Archery Women's Team Operating Expenses       (int64)
322. Archery Coed Team Operating Expenses          (int64)
323. Archery Total Operating Expenses              (int64)
324. Badminton Men's Team Operating Expenses       (int64)
325. Badminton Women's Team Operating Expenses     (int64)
326. Badminton Total Operating Expenses            (int64)
327. Baseball Men's Team Operating Expenses        (int64)
328. Baseball Women's Team Operating Expenses      (int64)
329. Baseball Total Operating Expenses             (int64)
330. Basketball Men's Team Operating Expenses      (int64)
331. Basketball Women's Team Operating Expenses    (int64)
332. Basketball Coed Team Operating Expenses       (int64)
333. Basketball Total Operating Expenses           (int64)
334. Beach Volleyball Men's Team Operating Expenses (int64)

In [4]:
# ============================================
# FIRST FEW ROWS
# ============================================
# Look at the first 5 rows to see actual data values
# This gives us a sense of what the data looks like

print("ðŸ” FIRST 5 ROWS OF DATA:")
df.head()

ðŸ” FIRST 5 ROWS OF DATA:

,Survey Year,UNITID,OPE ID,Institution Name,State CD,Classification Name,Classification Other,Sanction Code,Sanction Name,Male Undergraduates,Female Undergraduates,Total Undergraduates,Archery Men's Team Participation,Archery Women's Team Participation,Archery Coed Team Men Participation,Archery Coed Team Women Participation,Archery Total Participation,Badminton Women's Team Participation,Badminton Total Participation,Baseball Men's Team Participation,Baseball Total Participation,Basketball Men's Team Participation,Basketball Women's Team Participation,Basketball Coed Team Men Participation,Basketball Coed Team Women Participation,Basketball Total Participation,Beach Volleyball Men's Team Participation,Beach Volleyball Women's Team Participation,Beach Volleyball Total Participation,Bowling Men's Team Participation,Bowling Women's Team Participation,Bowling Coed Team Men Participation,Bowling Coed Team Women Participation,Bowling Total Participation,All Track Combined Men's Team Participation,All Track Combined Women's Team Participation,All Track Combined Coed Team Men Participation,All Track Combined Coed Team Women Participation,All Track Combined Total Participation,Diving Men's Team Participation,Diving Women's Team Participation,Diving Total Participation,Equestrian Men's Team Participation,Equestrian Women's Team Participation,Equestrian Coed Team Men Participation,Equestrian Coed Team Women Participation,Equestrian Total Participation,Fencing Men's Team Participation,Fencing Women's Team Participation,Fencing Coed Team Men Participation,Fencing Coed Team Women Participation,Fencing Total Participation,Field Hockey Women's Team Participation,Field Hockey Total Participation,Football Men's Team Participation,Football Total Participation,Golf Men's Team Participation,Golf Women's Team Participation,Golf Coed Team Men Participation,Golf Coed Team Women Participation,Golf Total Participation,Gymnastics Men's Team Participation,Gymnastics Women's Team Participation,Gymnastics Coed Team Men Participation,Gymnastics Coed Team Women Participation,Gymnastics Total Participation,Ice Hockey Men's Team Participation,Ice Hockey Women's Team Participation,Ice Hockey Total Participation,Lacrosse Men's Team Participation,Lacrosse Women's Team Participation,Lacrosse Total Participation,Rifle Men's Team Participation,Rifle Women's Team Participation,Rifle Coed Team Men Participation,Rifle Coed Team Women Participation,Rifle Total Participation,Rodeo Men's Team Participation,Rodeo Women's Team Participation,Rodeo Coed Team Men Participation,Rodeo Coed Team Women Participation,Rodeo Total Participation,Rowing Men's Team Participation,Rowing Women's Team Participation,Rowing Total Participation,Sailing Men's Team Participation,Sailing Women's Team Participation,Sailing Coed Team Men Participation,Sailing Coed Team Women Participation,Sailing Total Participation,Skiing Men's Team Participation,Skiing Women's Team Participation,Skiing Total Participation,Soccer Men's Team Participation,Soccer Women's Team Participation,Soccer Coed Team Men Participation,Soccer Coed Team Women Participation,Soccer Total Participation,Softball Women's Team Participation,Softball Total Participation,Squash Men's Team Participation,Squash Women's Team Participation,Squash Coed Team Men Participation,Squash Coed Team Women Participation,Squash Total Participation,Swimming and Diving Men's Team Participation,Swimming and Diving Women's Team Participation,Swimming and Diving Total Participation,Swimming Men's Team Participation,Swimming Women's Team Participation,Swimming Total Participation,Synchronized Swimming Women's Team Participation,Synchronized Swimming Total Participation,Table Tennis Men's Team Participation,Table Tennis Women's Team Participation,Table Tennis Total Participation,Tennis Men's Team Participation,Tennis Women's Team Participation,Tennis Coed Team Men Participation,Tennis Coed Team Women Participation,Tennis Total Participation,Track and Field Indoor Men's Team Participation,Track and Field Indoor Women's Team Participation,Track and Field Indoor Total Participation,Track and Field Outdoor Men's Team Participation,Track and Field Outdoor Women's Team Participation,Track and Field Outdoor Total Participation,Track and Field X Country Men's Team Participation,Track and Field X Country Women's Team Participation,Track and Field X Country Total Participation,Volleyball Men's Team Participation,Volleyball Women's Team Participation,Volleyball Coed Team Men Participation,Volleyball Coed Team Women Participation,Volleyball Total Participation,Water Polo Men's Team Participation,Water Polo Women's Team Participation,Water Polo Total Participation,Weight Lifting Men's Team Participation,Weight Lifting Women's Team Participation,Weight Lifting Coed Team Men Participation,Weight Lifting Coed Team Women Participation,Weight Lifting Total Participation,Wrestling Men's Team Participation,Wrestling Women's Team Participation,Wrestling Coed Team Men Participation,Wrestling Coed Team Women Participation,Wrestling Total Participation,Other Sports Men's Team Participation,Other Sports Women's Team Participation,Other Sports Coed Team Men Participation,Other Sports Coed Team Women Participation,Other Sports Total Participation,Total Men's Team Participation,Total Women's Team Participation,Total Coed Team Men Participation,Total Coed Team Women Participation,Grand Total Men's Participation,Grand Total Women's Participation,Unduplicated Count Men's Participation,Unduplicated Count Women's Participation,Men's Team Average Annual Institutional Salary per Head Coach,Men's Team Number of Head Coaches Included in Average,Men's Team Average Annual Institutional Salary per FTE,Men's Team Number of FTEs Included in Average,Women's Team Average Annual Institutional Salary per Head Coach,Women's Team Number of Head Coaches Included in Average,Women's Team Average Annual Institutional Salary per FTE,Women's Team Number of FTEs Included in Average,Coed Team Average Annual Institutional Salary per Head Coach,Coed Team Number of Head Coaches Included in Average,Coed Team Average Annual Institutional Salary per FTE,Coed Team Number of FTEs Included in Average,Men's Team Average Annual Institutional Salary per Assistant Coach,Men's Team Number of Assistant Coaches Included in Average,Men's Team Average Annual Institutional Salary per FTE2,Men's Team Number of FTEs Included in Average2,Women's Team Average Annual Institutional Salary per Assistant Coach,Women's Team Number of Assistant Coaches Included in Average,Women's Team Average Annual Institutional Salary per FTE2,Women's Team Number of FTEs Included in Average2,Coed Team Average Annual Institutional Salary per Assistant Coach,Coed Team Number of Assistant Coaches Included in Average,Coed Team Average Annual Institutional Salary per FTE2,Coed Team Number of FTEs Included in Average2,Men's Team Athletic Student Aid,Women's Team Athletic Student Aid,Coed Team Athletic Student Aid,Archery Men's Team Revenue,Archery Women's Team Revenue,Archery Coed Team Revenue,Archery Total Revenue,Badminton Women's Team Revenue,Badminton Total Revenue,Baseball Men's Team Revenue,Baseball Total Revenue,Basketball Men's Team Revenue,Basketball Women's Team Revenue,Basketball Coed Team Revenue,Basketball Total Revenue,Beach Volleyball Men's Team Revenue,Beach Volleyball Women's Team Revenue,Beach Volleyball Total Revenue,Bowling Men's Team Revenue,Bowling Women's Team Revenue,Bowling Coed Team Revenue,Bowling Total Revenue,All Track Combined Men's Team Revenue,All Track Combined Women's Team Revenue,All Track Combined Coed Team Revenue,All Track Combined Total Revenue,Diving Men's Team Revenue,Diving Women's Team Revenue,Diving Total Revenue,Equestrian Men's Team Revenue,Equestrian Women's Team Revenue,Equestrian Coed Team Revenue,Equestrian Total Revenue,Fencing Men's Team Revenue,Fencing Women's Team Revenue,Fencing Coed Team Revenue,Fencing Total Revenue,Field Hockey Women's Team Revenue,Field Hockey Total Revenue,Football Men's Team Revenue,Football Total Revenue,Golf Men's Team Revenue,Golf Women's Team Revenue,Golf Coed Team Revenue,Golf Total Revenue,Gymnastics Men's Team Revenue,Gymnastics Women's Team Revenue,Gymnastics Coed Team Revenue,Gymnastics Total Revenue,Ice Hockey Men's Team Revenue,Ice Hockey Women's Team Revenue,Ice Hockey Total Revenue,Lacrosse Men's Team Revenue,Lacrosse Women's Team Revenue,Lacrosse Total Revenue,Rifle Men's Team Revenue,Rifle Women's Team Revenue,Rifle Coed Team Revenue,Rifle Total Revenue,Rodeo Men's Team Revenue,Rodeo Women's Team Revenue,Rodeo Coed Team Revenue,Rodeo Total Revenue,Rowing Men's Team Revenue,Rowing Women's Team Revenue,Rowing Total Revenue,Sailing Men's Team Revenue,Sailing Women's Team Revenue,Sailing Coed Team Revenue,Sailing Total Revenue,Skiing Men's Team Revenue,Skiing Women's Team Revenue,Skiing Total Revenue,Soccer Men's Team Revenue,Soccer Women's Team Revenue,Soccer Coed Team Revenue,Soccer Total Revenue,Softball Women's Team Revenue,Softball Total Revenue,Squash Men's Team Revenue,Squash Women's Team Revenue,Squash Coed Team Revenue,Squash Total Revenue,Swimming and Diving Men's Team Revenue,Swimming and Diving Women's Team Revenue,Swimming and Diving Total Revenue,Swimming Men's Team Revenue,Swimming Women's Team Revenue,Swimming Total Revenue,Synchronized Swimming Women's Team Revenue,Synchronized Swimming Total Revenue,Table Tennis Men's Team Revenue,Table Tennis Women's Team Revenue,Table Tennis Total Revenue,Tennis Men's Team Revenue,Tennis Women's Team Revenue,Tennis Coed Team Revenue,Tennis Total Revenue,Track and Field Indoor Men's Team Revenue,Track and Field Indoor Women's Team Revenue,Track and Field Indoor Total Revenue,Track and Field Outdoor Men's Team Revenue,Track and Field Outdoor Women's Team Revenue,Track and Field Outdoor Total Revenue,Track and Field X Country Men's Team Revenue,Track and Field X Country Women's Team Revenue,Track and Field X Country Total Revenue,Volleyball Men's Team Revenue,Volleyball Women's Team Revenue,Volleyball Coed Team Revenue,Volleyball Total Revenue,Water Polo Men's Team Revenue,Water Polo Women's Team Revenue,Water Polo Total Revenue,Weight Lifting Men's Team Revenue,Weight Lifting Women's Team Revenue,Weight Lifting Coed Team Revenue,Weight Lifting Total Revenue,Wrestling Men's Team Revenue,Wrestling Women's Team Revenue,Wrestling Coed Team Revenue,Wrestling Total Revenue,Other Sports Men's Team Revenue,Other Sports Women's Team Revenue,Other Sports Coed Team Revenue,Other Sports Total Revenue,Total Men's Team Revenue,Total Women's Team Revenue,Total Coed Team Revenue,Not Allocated by Sex/Sport Revenue,Grand Total Revenue,Men's Team Recruiting Expenses,Women's Team Recruiting Expenses,Coed Team Recruiting Expenses,Archery Men's Team Operating Expenses,Archery Women's Team Operating Expenses,Archery Coed Team Operating Expenses,Archery Total Operating Expenses,Badminton Men's Team Operating Expenses,Badminton Women's Team Operating Expenses,Badminton Total Operating Expenses,Baseball Men's Team Operating Expenses,Baseball Women's Team Operating Expenses,Baseball Total Operating Expenses,Basketball Men's Team Operating Expenses,Basketball Women's Team Operating Expenses,Basketball Coed Team Operating Expenses,Basketball Total Operating Expenses,Beach Volleyball Men's Team Operating Expenses,Beach Volleyball Women's Team Operating Expenses,Beach Volleyball Total Operating Expenses,Bowling Men's Team Operating Expenses,Bowling Women's Team Operating Expenses,Bowling Coed Team Operating Expenses,Bowling Total Operating Expenses,All Track Combined Men's Team Operating Expenses,All Track Combined Women's Team Operating Expenses,All Track Combined Coed Team Operating Expenses,All Track Combined Total Operating Expenses,Diving Men's Team Operating Expenses,Diving Women's Team Operating Expenses,Diving Total Operating Expenses,Equestrian Men's Team Operating Expenses,Equestrian Women's Team Operating Expenses,Equestrian Coed Team Operating Expenses,Equestrian Total Operating Expenses,Fencing Men's Team Operating Expenses,Fencing Women's Team Operating Expenses,Fencing Coed Team Operating Expenses,Fencing Total Operating Expenses,Field Hockey Men's Team Operating Expenses,Field Hockey Women's Team Operating Expenses,Field Hockey Total Operating Expenses,Football Men's Team Operating Expenses,Football Women's Team Operating Expenses,Football Total Operating Expenses,Golf Men's Team Operating Expenses,Golf Women's Team Operating Expenses,Golf Coed Team Operating Expenses,Golf Total Operating Expenses,Gymnastics Men's Team Operating Expenses,Gymnastics Women's Team Operating Expenses,Gymnastics Coed Team Operating Expenses,Gymnastics Total Operating Expenses,Ice Hockey Men's Team Operating Expenses,Ice Hockey Women's Team Operating Expenses,Ice Hockey Total Operating Expenses,Lacrosse Men's Team Operating Expenses,Lacrosse Women's Team Operating Expenses,Lacrosse Total Operating Expenses,Rifle Men's Team Operating Expenses,Rifle Women's Team Operating Expenses,Rifle Coed Team Operating Expenses,Rifle Total Operating Expenses,Rodeo Men's Team Operating Expenses,Rodeo Women's Team Operating Expenses,Rodeo Coed Team Operating Expenses,Rodeo Total Operating Expenses,Rowing Men's Team Operating Expenses,Rowing Women's Team Operating Expenses,Rowing Total Operating Expenses,Sailing Men's Team Operating Expenses,Sailing Women's Team Operating Expenses,Sailing Coed Team Operating Expenses,Sailing Total Operating Expenses,Skiing Men's Team Operating Expenses,Skiing Women's Team Operating Expenses,Skiing Total Operating Expenses,Soccer Men's Team Operating Expenses,Soccer Women's Team Operating Expenses,Soccer Coed Team Operating Expenses,Soccer Total Operating Expenses,Softball Men's Team Operating Expenses,Softball Women's Team Operating Expenses,Softball Total Operating Expenses,Squash Men's Team Operating Expenses,Squash Women's Team Operating Expenses,Squash Coed Team Operating Expenses,Squash Total Operating Expenses,Swimming and Diving Men's Team Operating Expenses,Swimming and Diving Women's Team Operating Expenses,Swimming and Diving Total Operating Expenses,Swimming Men's Team Operating Expenses,Swimming Women's Team Operating Expenses,Swimming Total Operating Expenses,Synchronized Swimming Men's Team Operating Expenses,Synchronized Swimming Women's Team Operating Expenses,Synchronized Swimming Total Operating Expenses,Table Tennis Men's Team Operating Expenses,Table Tennis Women's Team Operating Expenses,Table Tennis Total Operating Expenses,Tennis Men's Team Operating Expenses,Tennis Women's Team Operating Expenses,Tennis Coed Team Operating Expenses,Tennis Total Operating Expenses,Track and Field Indoor Men's Team Operating Expenses,Track and Field Indoor Women's Team Operating Expenses,Track and Field Indoor Total Operating Expenses,Track and Field Outdoor Men's Team Operating Expenses,Track and Field Outdoor Women's Team Operating Expenses,Track and Field Outdoor Total Operating Expenses,Track and Field X Country Men's Team Operating Expenses,Track and Field X Country Women's Team Operating Expenses,Track and Field X Country Total Operating Expenses,Volleyball Men's Team Operating Expenses,Volleyball Women's Team Operating Expenses,Volleyball Coed Team Operating Expenses,Volleyball Total Operating Expenses,Water Polo Men's Team Operating Expenses,Water Polo Women's Team Operating Expenses,Water Polo Total Operating Expenses,Weight Lifting Men's Team Operating Expenses,Weight Lifting Women's Team Operating Expenses,Weight Lifting Coed Team Operating Expenses,Weight Lifting Total Operating Expenses,Wrestling Men's Team Operating Expenses,Wrestling Women's Team Operating Expenses,Wrestling Coed Team Operating Expenses,Wrestling Total Operating Expenses,Other Sports Men's Team Operating Expenses,Other Sports Women's Team Operating Expenses,Other Sports Coed Team Operating Expenses,Other Sports Total Operating Expenses,Total Men's Team Operating Expenses,Total Women's Team Operating Expenses,Total Coed Team Operating Expenses,Grand Total Operating Expenses,Archery Men's Team Expenses,Archery Women's Team Expenses,Archery Coed Team Expenses,Archery Total Expenses,Badminton Women's Team Expenses,Badminton Total Expenses,Baseball Men's Team Expenses,Baseball Total Expenses,Basketball Men's Team Expenses,Basketball Women's Team Expenses,Basketball Coed Team Expenses,Basketball Total Expenses,Beach Volleyball Men's Team Expenses,Beach Volleyball Women's Team Expenses,Beach Volleyball Total Expenses,Bowling Men's Team Expenses,Bowling Women's Team Expenses,Bowling Coed Team Expenses,Bowling Total Expenses,All Track Combined Men's Team Expenses,All Track Combined Women's Team Expenses,All Track Combined Coed Team Expenses,All Track Combined Total Expenses,Diving Men's Team Expenses,Diving Women's Team Expenses,Diving Total Expenses,Equestrian Men's Team Expenses,Equestrian Women's Team Expenses,Equestrian Coed Team Expenses,Equestrian Total Expenses,Fencing Men's Team Expenses,Fencing Women's Team Expenses,Fencing Coed Team Expenses,Fencing Total Expenses,Field Hockey Women's Team Expenses,Field Hockey Total Expenses,Football Men's Team Expenses,Football Total Expenses,Golf Men's Team Expenses,Golf Women's Team Expenses,Golf Coed Team Expenses,Golf Total Expenses,Gymnastics Men's Team Expenses,Gymnastics Women's Team Expenses,Gymnastics Coed Team Expenses,Gymnastics Total Expenses,Ice Hockey Men's Team Expenses,Ice Hockey Women's Team Expenses,Ice Hockey Total Expenses,Lacrosse Men's Team Expenses,Lacrosse Women's Team Expenses,Lacrosse Total Expenses,Rifle Men's Team Expenses,Rifle Women's Team Expenses,Rifle Coed Team Expenses,Rifle Total Expenses,Rodeo Men's Team Expenses,Rodeo Women's Team Expenses,Rodeo Coed Team Expenses,Rodeo Total Expenses,Rowing Men's Team Expenses,Rowing Women's Team Expenses,Rowing Total Expenses,Sailing Men's Team Expenses,Sailing Women's Team Expenses,Sailing Coed Team Expenses,Sailing Total Expenses,Skiing Men's Team Expenses,Skiing Women's Team Expenses,Skiing Total Expenses,Soccer Men's Team Expenses,Soccer Women's Team Expenses,Soccer Coed Team Expenses,Soccer Total Expenses,Softball Women's Team Expenses,Softball Total Expenses,Squash Men's Team Expenses,Squash Women's Team Expenses,Squash Coed Team Expenses,Squash Total Expenses,Swimming and Diving Men's Team Expenses,Swimming and Diving Women's Team Expenses,Swimming and Diving Total Expenses,Swimming Men's Team Expenses,Swimming Women's Team Expenses,Swimming Total Expenses,Synchronized Swimming Women's Team Expenses,Synchronized Swimming Total Expenses,Table Tennis Men's Team Expenses,Table Tennis Women's Team Expenses,Table Tennis Total Expenses,Tennis Men's Team Expenses,Tennis Women's Team Expenses,Tennis Coed Team Expenses,Tennis Total Expenses,Track and Field Indoor Men's Team Expenses,Track and Field Indoor Women's Team Expenses,Track and Field Indoor Total Expenses,Track and Field Outdoor Men's Team Expenses,Track and Field Outdoor Women's Team Expenses,Track and Field Outdoor Total Expenses,Track and Field X Country Men's Team Expenses,Track and Field X Country Women's Team Expenses,Track and Field X Country Total Expenses,Volleyball Men's Team Expenses,Volleyball Women's Team Expenses,Volleyball Coed Team Expenses,Volleyball Total Expenses,Water Polo Men's Team Expenses,Water Polo Women's Team Expenses,Water Polo Total Expenses,Weight Lifting Men's Team Expenses,Weight Lifting Women's Team Expenses,Weight Lifting Coed Team Expenses,Weight Lifting Total Expenses,Wrestling Men's Team Expenses,Wrestling Women's Team Expenses,Wrestling Coed Team Expenses,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses

---
## 4. Time Range Analysis

This is a temporal dataset - we need to understand what years are available.

**Critical Question:** Do we have 10 complete years of data?

In [5]:
# ============================================
# IDENTIFY THE YEAR COLUMN
# ============================================
# The year column is typically named 'Survey Year' in EADA data
# Let's find it and analyze the time range

# Check for common year column names
year_candidates = ['Survey Year', 'Year', 'YEAR', 'year']
year_col = None

for candidate in year_candidates:
    if candidate in df.columns:
        year_col = candidate
        break

if year_col:
    print(f"âœ… Found year column: '{year_col}'")
    print(f"\nðŸ“… YEAR RANGE:")
    print(f"   Minimum Year: {df[year_col].min()}")
    print(f"   Maximum Year: {df[year_col].max()}")
    print(f"   Total Years: {df[year_col].nunique()}")
    print(f"\nðŸ“Š ROWS PER YEAR:")
    print(df[year_col].value_counts().sort_index())
else:
    print("âš ï¸ Could not find a year column")
    print("Available columns:", list(df.columns))

âœ… Found year column: 'Survey Year'

ðŸ“… YEAR RANGE:
   Minimum Year: 2014
   Maximum Year: 2023
   Total Years: 10

ðŸ“Š ROWS PER YEAR:
Survey Year
2014    1722
2015    1722
2016    1722
2017    1722
2018    1722
2019    1722
2020    1722
2021    1722
2022    1722
2023    1722
Name: count, dtype: int64

---
## 5. Institution Analysis

Each row represents one institution in one year. Let's understand:
- How many unique institutions?
- Do all institutions have data for all years?

In [6]:
# ============================================
# INSTITUTION COUNT
# ============================================
# UNITID is the unique identifier for each institution
# It's a federal ID assigned to each college/university

if 'UNITID' in df.columns:
    n_institutions = df['UNITID'].nunique()
    print(f"ðŸ« UNIQUE INSTITUTIONS: {n_institutions:,}")
    
    # Check if we have balanced data (same institutions each year)
    expected_rows = n_institutions * df[year_col].nunique()
    actual_rows = len(df)
    
    print(f"\nðŸ“Š DATA BALANCE CHECK:")
    print(f"   Expected rows (if all institutions Ã— all years): {expected_rows:,}")
    print(f"   Actual rows: {actual_rows:,}")
    
    if actual_rows == expected_rows:
        print(f"   âœ… Data is balanced - all institutions have all years")
    else:
        print(f"   âš ï¸ Some institutions may be missing some years")
        print(f"   Missing: {expected_rows - actual_rows:,} rows")

ðŸ« UNIQUE INSTITUTIONS: 1,722

ðŸ“Š DATA BALANCE CHECK:
   Expected rows (if all institutions Ã— all years): 17,220
   Actual rows: 17,220
   âœ… Data is balanced - all institutions have all years

In [7]:
# ============================================
# SAMPLE INSTITUTIONS
# ============================================
# Let's look at a few institution names to understand the scope

if 'Institution Name' in df.columns:
    print("ðŸ« SAMPLE INSTITUTIONS (first 20):")
    print("=" * 60)
    sample_institutions = df['Institution Name'].drop_duplicates().head(20)
    for i, name in enumerate(sample_institutions, 1):
        print(f"{i:2}. {name}")

ðŸ« SAMPLE INSTITUTIONS (first 20):
============================================================
 1. Kaskaskia College
 2. The College of Wooster
 3. Clayton  State University
 4. Dordt College
 5. Dordt University
 6. Union University
 7. Thomas More College
 8. Thomas More University
 9. Gulf Coast State College
10. Barton County Community College
11. Paul Smiths College of Arts and Science
12. Jackson State University
13. Iowa Western Community College
14. Wichita State University
15. Mississippi Gulf Coast Community College
16. Santa Monica College
17. Yeshiva University
18. Princeton University
19. Lewis University
20. University of Missouri-St Louis

---
## 6. Key Financial Columns

For our analysis, the most important columns are:
- **Grand Total Revenue**: Total athletic revenue
- **Grand Total Expenses**: Total athletic expenses

These will be the foundation of our financial trajectory prediction.

In [8]:
# ============================================
# KEY FINANCIAL COLUMNS - BASIC STATISTICS
# ============================================
# These are the core financial metrics we'll use for prediction

financial_cols = ['Grand Total Revenue', 'Grand Total Expenses']

print("ðŸ’° KEY FINANCIAL METRICS - SUMMARY STATISTICS:")
print("=" * 60)

for col in financial_cols:
    if col in df.columns:
        print(f"\nðŸ“Š {col}:")
        print(f"   Count:   {df[col].count():,}")
        print(f"   Missing: {df[col].isna().sum():,}")
        print(f"   Min:     ${df[col].min():,.0f}")
        print(f"   Max:     ${df[col].max():,.0f}")
        print(f"   Mean:    ${df[col].mean():,.0f}")
        print(f"   Median:  ${df[col].median():,.0f}")

ðŸ’° KEY FINANCIAL METRICS - SUMMARY STATISTICS:
============================================================

ðŸ“Š Grand Total Revenue:
   Count:   17,220
   Missing: 0
   Min:     $6,463
   Max:     $320,312,665
   Mean:    $11,209,124
   Median:  $3,556,134

ðŸ“Š Grand Total Expenses:
   Count:   17,220
   Missing: 0
   Min:     $6,463
   Max:     $262,172,467
   Mean:    $10,852,304
   Median:  $3,457,064

---
## 7. Missing Values Analysis

Before proceeding, we need to understand data quality:
- Which columns have missing values?
- How severe is the missing data problem?

In [9]:
# ============================================
# MISSING VALUES SUMMARY
# ============================================
# Calculate missing values for each column
# This helps us understand data quality before analysis

missing = df.isnull().sum()
missing_pct = (missing / len(df) * 100).round(2)

# Create a summary DataFrame
missing_df = pd.DataFrame({
    'Column': missing.index,
    'Missing Count': missing.values,
    'Missing %': missing_pct.values
})

# Show only columns with missing values
missing_df = missing_df[missing_df['Missing Count'] > 0].sort_values('Missing Count', ascending=False)

print("âš ï¸ COLUMNS WITH MISSING VALUES:")
print("=" * 60)

if len(missing_df) > 0:
    for _, row in missing_df.iterrows():
        print(f"{row['Column']:<45} {row['Missing Count']:>6,} ({row['Missing %']:>5}%)")
else:
    print("âœ… No missing values found!")

âš ï¸ COLUMNS WITH MISSING VALUES:
============================================================
Classification Other                          16,708 (97.03%)
Classification Name                              156 ( 0.91%)

---
## 8. Classification/Division Analysis

NCAA institutions are classified into divisions (D1, D2, D3). This is important because:
- D1 schools typically have much larger athletic budgets
- Financial patterns may differ by division

In [10]:
# ============================================
# DIVISION/CLASSIFICATION ANALYSIS
# ============================================
# The classification column tells us what division each school belongs to

if 'Classification Name' in df.columns:
    print("ðŸ† INSTITUTIONS BY CLASSIFICATION:")
    print("=" * 60)
    
    # Count unique institutions by classification (not rows)
    class_counts = df.groupby('Classification Name')['UNITID'].nunique().sort_values(ascending=False)
    
    for classification, count in class_counts.items():
        print(f"{classification:<50} {count:>5} institutions")

ðŸ† INSTITUTIONS BY CLASSIFICATION:
============================================================
NCAA Division III with football                      237 institutions
NCAA Division III (with football)                    229 institutions
NJCAA Division I                                     220 institutions
NCAA Division II with football                       171 institutions
Other                                                166 institutions
NCAA Division III without football                   162 institutions
NAIA Division I                                      156 institutions
NCAA Division II (with football)                     154 institutions
NCAA Division III (without football)                 151 institutions
NCAA Division II without football                    133 institutions
NCAA Division I-FCS                                  130 institutions
NCAA Division I-FBS                                  130 institutions
NJCAA Division II                                    129 institutions
NCAA Division I-A                                    128 institutions
NAIA Division II                                     124 institutions
NCAA Division I-AA                                   122 institutions
NCAA Division II (without football)                  119 institutions
NCAA Division I without football                      99 institutions
NCAA Division I-AAA                                   96 institutions
NJCAA Division III                                    79 institutions
CCCAA                                                 62 institutions
NWAC                                                  29 institutions
NCCAA Division II                                     27 institutions
USCAA                                                 21 institutions
NCCAA Division I                                       7 institutions
Independent                                            3 institutions
NAIA Division III                                      2 institutions

---
## 9. State Distribution

Let's see how institutions are distributed across states.

In [11]:
# ============================================
# STATE DISTRIBUTION
# ============================================
# Count unique institutions by state

if 'State CD' in df.columns:
    print("ðŸ“ TOP 15 STATES BY NUMBER OF INSTITUTIONS:")
    print("=" * 40)
    
    state_counts = df.groupby('State CD')['UNITID'].nunique().sort_values(ascending=False).head(15)
    
    for state, count in state_counts.items():
        print(f"{state:<10} {count:>5} institutions")

ðŸ“ TOP 15 STATES BY NUMBER OF INSTITUTIONS:
========================================
CA           114 institutions
NY           109 institutions
TX            97 institutions
PA            91 institutions
IL            84 institutions
NC            62 institutions
FL            57 institutions
OH            56 institutions
MI            54 institutions
MO            52 institutions
GA            50 institutions
MA            47 institutions
KS            44 institutions
TN            42 institutions
NJ            42 institutions

---
## 10. Data Dictionary

Based on our exploration, here's what each key column represents:

In [12]:
# ============================================
# DATA DICTIONARY
# ============================================
# Document what each important column means

data_dictionary = {
    'UNITID': 'Unique federal ID for each institution',
    'Institution Name': 'Name of the college/university',
    'Survey Year': 'The academic year of the data (e.g., 2023 = 2022-23 academic year)',
    'State CD': 'Two-letter state code',
    'Classification Name': 'NCAA division and subdivision (e.g., NCAA Division I-FBS)',
    'Grand Total Revenue': 'Total athletic department revenue in dollars',
    'Grand Total Expenses': 'Total athletic department expenses in dollars',
    "Unduplicated Count Men's Participation": 'Number of male student-athletes',
    "Unduplicated Count Women's Participation": 'Number of female student-athletes',
}

print("ðŸ“– DATA DICTIONARY:")
print("=" * 80)

for col, description in data_dictionary.items():
    if col in df.columns:
        print(f"\n{col}")
        print(f"   â†’ {description}")

ðŸ“– DATA DICTIONARY:
================================================================================

UNITID
   â†’ Unique federal ID for each institution

Institution Name
   â†’ Name of the college/university

Survey Year
   â†’ The academic year of the data (e.g., 2023 = 2022-23 academic year)

State CD
   â†’ Two-letter state code

Classification Name
   â†’ NCAA division and subdivision (e.g., NCAA Division I-FBS)

Grand Total Revenue
   â†’ Total athletic department revenue in dollars

Grand Total Expenses
   â†’ Total athletic department expenses in dollars

Unduplicated Count Men's Participation
   â†’ Number of male student-athletes

Unduplicated Count Women's Participation
   â†’ Number of female student-athletes

---
## Summary

Let's consolidate what we learned about this dataset.

In [13]:
# ============================================
# DATASET SUMMARY
# ============================================

print("="*70)
print("ðŸ“‹ DATASET SUMMARY")
print("="*70)

print(f"""
BASIC INFORMATION:
â€¢ Total Rows:        {len(df):,}
â€¢ Total Columns:     {len(df.columns)}
â€¢ Year Range:        {df[year_col].min()} - {df[year_col].max()} ({df[year_col].nunique()} years)
â€¢ Institutions:      {df['UNITID'].nunique():,}

KEY FINANCIAL METRICS:
â€¢ Revenue Range:     ${df['Grand Total Revenue'].min():,.0f} - ${df['Grand Total Revenue'].max():,.0f}
â€¢ Expense Range:     ${df['Grand Total Expenses'].min():,.0f} - ${df['Grand Total Expenses'].max():,.0f}

DATA QUALITY:
â€¢ Columns with missing values: {missing_df.shape[0]}
â€¢ Data appears balanced: {actual_rows == expected_rows}

NEXT STEPS:
â†’ Proceed to 01_Exploratory_Data_Analysis.ipynb
â†’ Explore distributions, correlations, and time trends
""")

======================================================================
ðŸ“‹ DATASET SUMMARY
======================================================================

BASIC INFORMATION:
â€¢ Total Rows:        17,220
â€¢ Total Columns:     580
â€¢ Year Range:        2014 - 2023 (10 years)
â€¢ Institutions:      1,722

KEY FINANCIAL METRICS:
â€¢ Revenue Range:     $6,463 - $320,312,665
â€¢ Expense Range:     $6,463 - $262,172,467

DATA QUALITY:
â€¢ Columns with missing values: 2
â€¢ Data appears balanced: True

NEXT STEPS:
â†’ Proceed to 01_Exploratory_Data_Analysis.ipynb
â†’ Explore distributions, correlations, and time trends

---
## âœ… Checkpoint Complete

We now understand:
1. **What data we have**: 10 years of NCAA financial data for ~1,722 institutions
2. **Key columns**: Revenue, Expenses, Division, State, Year
3. **Data quality**: Identified missing values and structure

**Next Notebook:** `01_Exploratory_Data_Analysis.ipynb`  
We'll explore the data in depth - looking at distributions, correlations, and patterns over time.